*.iml
.gradle
/local.properties
/.idea
.DS_Store
/build
/captures
.externalNativeBuild
/build
/app
/gradle
/gradle.properties
/gradlew
/gradlew.bat
/settings.gradle
/build.gradle
/code/.gitignore
/code/.code.iml
/code/build.gradle
/.idea/misc.xml
/.idea/codeStyles/Project.xml
